body.light-mode {
  background-color: #f0f2f5;
  color: #000;
}

body.dark-mode {
  background-color: #121212;
  color: #fff;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

body.dark-mode .card {
  background-color: #1e1e1e;
  color: #fff;
}

body.dark-mode .btn-outline-dark {
  color: #fff;
  border-color: #fff;
}
